<h1>Login</h1>

<% if (locals.error_msg) { %>
  <p><%= error_msg %></p>
<% } %>

<form action="/login" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required>
  <br>
  <button type="submit">Login</button>
</form>

  